/*estos serian los estilos de la imagen y el carrito*/

div{
    text-align: center;
}

div.card{
    width: 50%;
    height: auto;
    margin-left: 25%;
}


/* 
div svg{
    position: relative;
    left: 40%;
    top: -25%;
}

div svg path{
    cursor: pointer;
    
} */




